body{
    height: 300px;
    width: 300px;
    background-color:yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container1{
   display: inner-flex;
   margin: auto 10px;
   margin-left: 10px;
   margin-right: 10px;
   background-color:orangered;
   color: #fff;
   font-size: 20px;
   border: 1px solid;
   padding: 10px;
   margin: auto;
   border-radius:10px;
}
#reset{
   margin-left: 90px;
   background-color: dodgerblue;
   color:white;
   border-radius:7px;
   padding:2px;
   width:100px;
   height:30px;
}
